<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Приложение_для_курсовой.Properties.Settings.stationary_shopConnectionString"
            connectionString="Data Source=WIN-GP3MOL8LE10\SQLEXPRESS;Initial Catalog=stationary_shop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Приложение_для_курсовой.Properties.Settings.ЕгизсConnectionString"
            connectionString="Data Source=WIN-GP3MOL8LE10\SQLEXPRESS;Initial Catalog=Егизс;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Приложение_для_курсовой.Properties.Settings._112_ConnectionString"
            connectionString="Data Source=WIN-GP3MOL8LE10\SQLEXPRESS;Initial Catalog=112.;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Приложение_для_курсовой.Properties.Settings.ИС_для_ЖКХConnectionString"
            connectionString="Data Source=DESKTOP-JRJNEMP\SQLEXPRESS;Initial Catalog=ИС_для_ЖКХ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Приложение_для_курсовой.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>